static inline void {{ op_name }}({{ dim_args }}{{ params | join(', ') }}) {
    for (idx_t n = 0; n < {{ batch }}; ++n) {
        for (idx_t oc = 0; oc < {{ out_channels }}; ++oc) {
            {% for dim in range(spatial_rank) %}
            for (idx_t {{ out_indices[dim] }} = 0; {{ out_indices[dim] }} < {{ out_spatial[dim] }}; ++{{ out_indices[dim] }}) {
            {% endfor %}
                {{ output }}[n][oc]{% for dim in range(spatial_rank) %}[{{ out_indices[dim] }}]{% endfor %} = {% if bias %}{{ bias }}[oc]{% else %}{{ zero_literal }}{% endif %};
            {% for dim in range(spatial_rank) %}
            }
            {% endfor %}
        }
    }
    for (idx_t n = 0; n < {{ batch }}; ++n) {
        for (idx_t g = 0; g < {{ group }}; ++g) {
            for (idx_t ic = 0; ic < {{ group_in_channels }}; ++ic) {
                const idx_t ic_global = g * {{ group_in_channels }} + ic;
                {% for dim in range(spatial_rank) %}
                for (idx_t {{ in_indices[dim] }} = 0; {{ in_indices[dim] }} < {{ in_spatial[dim] }}; ++{{ in_indices[dim] }}) {
                {% endfor %}
                    const {{ c_type }} value = {{ input0 }}[n][ic_global]{% for dim in range(spatial_rank) %}[{{ in_indices[dim] }}]{% endfor %};
                    for (idx_t oc = 0; oc < {{ group_out_channels }}; ++oc) {
                        const idx_t oc_global = g * {{ group_out_channels }} + oc;
                        {% for dim in range(spatial_rank) %}
                        for (idx_t {{ kernel_indices[dim] }} = 0; {{ kernel_indices[dim] }} < {{ kernel_shape[dim] }}; ++{{ kernel_indices[dim] }}) {
                        {% endfor %}
                            {% for dim in range(spatial_rank) %}
                            const idx_t {{ out_indices[dim] }} = {{ in_indices[dim] }} * {{ strides[dim] }} + {{ kernel_indices[dim] }} * {{ dilations[dim] }} - {{ pads_begin[dim] }};
                            {% endfor %}
                            if ({% for dim in range(spatial_rank) %}{{ out_indices[dim] }} >= 0 && {{ out_indices[dim] }} < {{ out_spatial[dim] }}{% if not loop.last %} && {% endif %}{% endfor %}) {
                                {{ output }}[n][oc_global]{% for dim in range(spatial_rank) %}[{{ out_indices[dim] }}]{% endfor %} += value * {{ weights }}[ic_global][oc]{% for dim in range(spatial_rank) %}[{{ kernel_indices[dim] }}]{% endfor %};
                            }
                        {% for dim in range(spatial_rank) %}
                        }
                        {% endfor %}
                    }
                {% for dim in range(spatial_rank) %}
                }
                {% endfor %}
            }
        }
    }
}
