static inline void {{ op_name }}({{ dim_args }}{{ params | join(', ') }}) {
{% for dim in output_shape %}
for (idx_t {{ loop_vars[loop.index0] }} = 0; {{ loop_vars[loop.index0] }} < {{ dim }}; ++{{ loop_vars[loop.index0] }}) {
{% endfor %}
idx_t gather_index = {{ indices }}{% for var in indices_indices %}[{{ var }}]{% endfor %};
if (gather_index < 0) {
    gather_index += {{ axis_dim }};
}
{{ output }}{% for var in loop_vars %}[{{ var }}]{% endfor %} = {{ data }}{% for idx in data_indices %}[{{ idx }}]{% endfor %};
{% for _ in output_shape %}
}
{% endfor %}
}
