static inline void {{ op_name }}({{ dim_args }}{{ params | join(', ') }}) {
    const {{ c_type }} *input_flat = (const {{ c_type }} *){{ input0 }};
    const {{ target_c_type }} *target_flat = (const {{ target_c_type }} *){{ target }};
    {{ c_type }} *output_flat = ({{ c_type }} *){{ output }};
    const idx_t n = {{ n }};
    const idx_t c = {{ c }};
    const idx_t d = {{ d }};
    {{ acc_type }} loss_sum = {{ acc_zero_literal }};
    {{ acc_type }} weight_sum = {{ acc_zero_literal }};
    for (idx_t n_idx = 0; n_idx < n; ++n_idx) {
        for (idx_t d_idx = 0; d_idx < d; ++d_idx) {
            idx_t target_index = n_idx * d + d_idx;
            {{ target_c_type }} target_value = target_flat[target_index];
            if ((int64_t)target_value == {{ ignore_index }}) {
{% if reduction == "none" %}
                output_flat[target_index] = {{ zero_literal }};
{% endif %}
            } else {
                idx_t class_index = (idx_t)target_value;
                idx_t input_index = (n_idx * c + class_index) * d + d_idx;
                {{ acc_type }} value = -({{ acc_type }})input_flat[input_index];
{% if weight %}
                {{ acc_type }} sample_weight = {{ weight }}[class_index];
                value *= sample_weight;
{% else %}
                {{ acc_type }} sample_weight = {{ acc_one_literal }};
{% endif %}
{% if reduction == "none" %}
                output_flat[target_index] = value;
{% else %}
                loss_sum += value;
{% if reduction == "mean" %}
                weight_sum += sample_weight;
{% endif %}
{% endif %}
            }
        }
    }
{% if reduction == "mean" %}
    if (weight_sum == {{ acc_zero_literal }}) {
        output_flat[0] = {{ zero_literal }};
    } else {
        output_flat[0] = loss_sum / weight_sum;
    }
{% elif reduction == "sum" %}
    output_flat[0] = loss_sum;
{% endif %}
}
