static inline void {{ op_name }}({{ dim_args }}{{ params | join(', ') }}) {
    const {{ c_type }} *input_data = (const {{ c_type }} *){{ input0 }};
    {{ c_type }} *output_data = ({{ c_type }} *){{ output }};
    idx_t output_index = 0;
    for (idx_t n = 0; n < {{ batch }}; ++n) {
        for (idx_t c_out = 0; c_out < {{ out_channels }}; ++c_out) {
            idx_t c_in = c_out % {{ in_channels }};
            idx_t temp = c_out / {{ in_channels }};
            idx_t offset_h = temp / {{ blocksize }};
            idx_t offset_w = temp % {{ blocksize }};
            for (idx_t h_out = 0; h_out < {{ out_h }}; ++h_out) {
                idx_t h_in = h_out * {{ blocksize }} + offset_h;
                for (idx_t w_out = 0; w_out < {{ out_w }}; ++w_out) {
                    idx_t w_in = w_out * {{ blocksize }} + offset_w;
                    idx_t input_index = ((n * {{ in_channels }} + c_in) * {{ in_h }} + h_in) * {{ in_w }} + w_in;
                    output_data[output_index] = input_data[input_index];
                    output_index++;
                }
            }
        }
    }
}
