[submodule "onnx2c-org"]
path = onnx2c-org
url = https://github.com/kraiskil/onnx2c.git
[submodule "emx-pytorch2c-org"]
path = emx-pytorch2c-org
url = https://github.com/emmtrix/emx-pytorch2c.git
[submodule "onnx-org"]
	path = onnx-org
	url = https://github.com/onnx/onnx.git
