static inline void {{ op_name }}(const {{ c_type }} {{ input0 }}{{ array_suffix }}, {{ c_type }} {{ output }}{{ array_suffix }}) {
{% for dim in shape %}
for (size_t {{ loop_vars[loop.index0] }} = 0; {{ loop_vars[loop.index0] }} < {{ dim }}; ++{{ loop_vars[loop.index0] }}) {
{% endfor %}
{{ c_type }} x = {{ input0 }}{% for var in loop_vars %}[{{ var }}]{% endfor %};
if (x > {{ zero_literal }}) {
    {{ output }}{% for var in loop_vars %}[{{ var }}]{% endfor %} = x;
} else {
    {{ output }}{% for var in loop_vars %}[{{ var }}]{% endfor %} = {{ alpha_literal }} * ({{ exp_func }}(x / {{ alpha_literal }}) - {{ one_literal }});
}
{% for _ in shape %}
}
{% endfor %}
}
