static inline void {{ op_name }}({{ dim_args }}{{ params | join(', ') }}) {
{% for dim in shape %}
for (idx_t {{ loop_vars[loop.index0] }} = 0; {{ loop_vars[loop.index0] }} < {{ dim }}; ++{{ loop_vars[loop.index0] }}) {
{% endfor %}
{{ output_c_type }} value = {{ input_expr }};
if (value < {{ min_expr }}) {
    value = {{ min_expr }};
}
if (value > {{ max_expr }}) {
    value = {{ max_expr }};
}
{{ output }}{% for var in loop_vars %}[{{ var }}]{% endfor %} = value;
{% for _ in shape %}
}
{% endfor %}
}
