static inline void {{ op_name }}(const {{ input_c_type }} {{ input0 }}{{ input_suffix }}{% if input_min %}, const {{ input_c_type }} {{ input_min }}{{ min_suffix }}{% endif %}{% if input_max %}, const {{ input_c_type }} {{ input_max }}{{ max_suffix }}{% endif %}, {{ output_c_type }} {{ output }}{{ output_suffix }}) {
{% for dim in shape %}
for (size_t {{ loop_vars[loop.index0] }} = 0; {{ loop_vars[loop.index0] }} < {{ dim }}; ++{{ loop_vars[loop.index0] }}) {
{% endfor %}
{{ output_c_type }} value = {{ input_expr }};
if (value < {{ min_expr }}) {
    value = {{ min_expr }};
}
if (value > {{ max_expr }}) {
    value = {{ max_expr }};
}
{{ output }}{% for var in loop_vars %}[{{ var }}]{% endfor %} = value;
{% for _ in shape %}
}
{% endfor %}
}
