static inline void {{ op_name }}({{ params | join(', ') }}) {
{% for dim in output_shape %}
for (size_t {{ loop_vars[loop.index0] }} = 0; {{ loop_vars[loop.index0] }} < {{ dim }}; ++{{ loop_vars[loop.index0] }}) {
{% endfor %}
int64_t gather_index = (int64_t){{ indices }}{% for var in indices_indices %}[{{ var }}]{% endfor %};
if (gather_index < 0) {
    gather_index += {{ axis_dim }};
}
{{ output }}{% for var in loop_vars %}[{{ var }}]{% endfor %} = {{ data }}{% for idx in data_indices %}[{{ idx }}]{% endfor %};
{% for _ in output_shape %}
}
{% endfor %}
}
