static inline void {{ op_name }}({{ params | join(', ') }}) {
{% for dim in shape %}
for (size_t {{ loop_vars[loop.index0] }} = 0; {{ loop_vars[loop.index0] }} < {{ dim }}; ++{{ loop_vars[loop.index0] }}) {
{% endfor %}
size_t channel_start = {{ loop_vars[1] }} > {{ half }} ? {{ loop_vars[1] }} - {{ half }} : 0;
size_t channel_end = {{ loop_vars[1] }} + {{ half }};
if (channel_end >= {{ channels }}) {
    channel_end = {{ channels }} - 1;
}
{{ c_type }} sum = {{ zero_literal }};
for (size_t c = channel_start; c <= channel_end; ++c) {
    {{ c_type }} val = {{ input0 }}[{{ loop_vars[0] }}][c]{% for var in loop_vars[2:] %}[{{ var }}]{% endfor %};
    sum += val * val;
}
{{ c_type }} scale = {{ bias_literal }} + {{ alpha_div_size_literal }} * sum;
{{ output }}{% for var in loop_vars %}[{{ var }}]{% endfor %} = {{ input0 }}{% for var in loop_vars %}[{{ var }}]{% endfor %} / {{ pow_fn }}(scale, {{ beta_literal }});
{% for _ in shape %}
}
{% endfor %}
}
