static inline void {{ op_name }}({{ dim_args }}{{ params | join(', ') }}) {
{% for dim in shape %}
for (size_t {{ loop_vars[loop.index0] }} = 0; {{ loop_vars[loop.index0] }} < {{ dim }}; ++{{ loop_vars[loop.index0] }}) {
{% endfor %}
{{ output_expr }} = {{ input_exprs[0] }};
{% for expr in input_exprs[1:] %}
{{ output_expr }} = {% if operator_kind == "func" %}{{ operator }}({{ output_expr }}, {{ expr }}){% elif operator_kind == "expr" %}{{ operator_expr }}{% else %}{{ output_expr }} {{ operator }} {{ expr }}{% endif %};
{% endfor %}
{% if is_mean %}
{{ output_expr }} = {{ output_expr }} / {{ mean_scale }};
{% endif %}
{% for _ in shape %}
}
{% endfor %}
}
