static inline void {{ op_name }}({{ dim_args }}const {{ c_type }} {{ input0 }}{{ input_suffix }},
                   const {{ target_c_type }} {{ target }}{{ target_suffix }}{% if weight %},
                   const {{ c_type }} {{ weight }}[{{ c }}]{% endif %},
                   {{ c_type }} {{ output }}{{ output_suffix }}) {
    const {{ c_type }} *input_flat = (const {{ c_type }} *){{ input0 }};
    const {{ target_c_type }} *target_flat = (const {{ target_c_type }} *){{ target }};
    {{ c_type }} *output_flat = ({{ c_type }} *){{ output }};
    const size_t n = {{ n }};
    const size_t c = {{ c }};
    const size_t d = {{ d }};
    {{ c_type }} loss_sum = {{ zero_literal }};
    {{ c_type }} weight_sum = {{ zero_literal }};
    for (size_t n_idx = 0; n_idx < n; ++n_idx) {
        for (size_t d_idx = 0; d_idx < d; ++d_idx) {
            size_t target_index = n_idx * d + d_idx;
            {{ target_c_type }} target_value = target_flat[target_index];
            if ((int64_t)target_value == {{ ignore_index }}) {
{% if reduction == "none" %}
                output_flat[target_index] = {{ zero_literal }};
{% endif %}
                continue;
            }
            size_t class_index = (size_t)target_value;
            size_t input_index = (n_idx * c + class_index) * d + d_idx;
            {{ c_type }} value = -input_flat[input_index];
{% if weight %}
            {{ c_type }} sample_weight = {{ weight }}[class_index];
            value *= sample_weight;
{% else %}
            {{ c_type }} sample_weight = {{ one_literal }};
{% endif %}
{% if reduction == "none" %}
            output_flat[target_index] = value;
{% else %}
            loss_sum += value;
{% if reduction == "mean" %}
            weight_sum += sample_weight;
{% endif %}
{% endif %}
        }
    }
{% if reduction == "mean" %}
    if (weight_sum == {{ zero_literal }}) {
        output_flat[0] = {{ zero_literal }};
    } else {
        output_flat[0] = loss_sum / weight_sum;
    }
{% elif reduction == "sum" %}
    output_flat[0] = loss_sum;
{% endif %}
}
