static inline void {{ op_name }}({{ dim_args }}{{ params | join(', ') }}) {
    idx_t out_index = 0;
{% for dim in input_shape %}
    for (idx_t {{ loop_vars[loop.index0] }} = 0; {{ loop_vars[loop.index0] }} < {{ dim }}; ++{{ loop_vars[loop.index0] }}) {
{% endfor %}
        if ({{ input_expr }} != {{ zero_literal }}) {
{% for var in loop_vars %}
            {{ output }}[{{ loop.index0 }}][out_index] = ({{ output_c_type }}){{ var }};
{% endfor %}
            ++out_index;
        }
{% for _ in input_shape %}
    }
{% endfor %}
}
