static inline void {{ op_name }}({{ dim_args }}{{ params | join(', ') }}) {
    (void){{ limit }};
    const {{ c_type }} start_value = {{ start }}[0];
    const {{ c_type }} delta_value = {{ delta }}[0];
    for (idx_t idx = 0; idx < {{ length }}; ++idx) {
        {{ output }}[idx] = start_value + (({{ c_type }})idx * delta_value);
    }
}
