void {{ op_name }}(const {{ c_type }} {{ input0 }}{{ input_suffix }}, {{ c_type }} {{ output }}{{ output_suffix }}) {
    memcpy({{ output }}, {{ input0 }}, sizeof({{ c_type }}) * {{ element_count }});
}
