void {{ op_name }}(const {{ input_c_type }} {{ input0 }}{{ input_suffix }}, {{ c_type }} {{ output }}{{ output_suffix }}) {
    (void){{ input0 }};
{% for value in values %}
    {{ output }}[{{ loop.index0 }}] = {{ value }};
{% endfor %}
}
