static inline void {{ op_name }}({{ dim_args }}const {{ input_c_type }} {{ input0 }}{{ input_suffix }}, {{ c_type }} {{ output }}{{ output_suffix }}) {
    (void){{ input0 }};
    {{ output }}[0] = {{ value }};
}
