static inline void {{ op_name }}({{ dim_args }}{{ params | join(', ') }}) {
    const idx_t input_rank = {{ input_rank }};
    const idx_t input_dims[] = { {% for dim in input_shape %}{{ dim }}{% if not loop.last %}, {% endif %}{% endfor %} };
    idx_t start_indices[{{ input_rank }}];
    idx_t step_values[{{ input_rank }}];
    for (idx_t idx = 0; idx < input_rank; ++idx) {
        start_indices[idx] = 0;
        step_values[idx] = 1;
    }
    for (idx_t i = 0; i < {{ starts_len }}; ++i) {
{% if axes_input %}
        idx_t axis_value = {{ axes_input }}[i];
{% else %}
        idx_t axis_value = i;
{% endif %}
        if (axis_value < 0) {
            axis_value += input_rank;
        }
        idx_t axis = axis_value;
        idx_t dim = input_dims[axis];
        idx_t start_value = {{ starts_input }}[i];
        idx_t step_value = 1;
{% if steps_input %}
        step_value = {{ steps_input }}[i];
{% endif %}
        idx_t end_value = {{ ends_input }}[i];
        if (start_value < 0) {
            start_value += dim;
        }
        if (end_value < 0) {
            end_value += dim;
        }
        if (step_value > 0) {
            if (start_value < 0) {
                start_value = 0;
            }
            if (start_value > dim) {
                start_value = dim;
            }
            if (end_value < 0) {
                end_value = 0;
            }
            if (end_value > dim) {
                end_value = dim;
            }
        } else {
            if (start_value < 0) {
                start_value = -1;
            }
            if (start_value >= dim) {
                start_value = dim - 1;
            }
            if (end_value < -1) {
                end_value = -1;
            }
            if (end_value >= dim) {
                end_value = dim - 1;
            }
        }
        start_indices[axis] = start_value;
        step_values[axis] = step_value;
    }
{% for dim in output_shape %}
    for (idx_t {{ output_loop_vars[loop.index0] }} = 0; {{ output_loop_vars[loop.index0] }} < {{ dim }}; ++{{ output_loop_vars[loop.index0] }}) {
{% endfor %}
        {{ output }}{% for var in output_loop_vars %}[{{ var }}]{% endfor %} = {{ input0 }}{% for var in output_loop_vars %}[start_indices[{{ loop.index0 }}] + ({{ var }} * step_values[{{ loop.index0 }}])]{% endfor %};
{% for _ in output_shape %}
    }
{% endfor %}
}
