static inline void {{ op_name }}({{ dim_args }}{{ params | join(', ') }}) {
{% for dim in shape %}
for (idx_t {{ loop_vars[loop.index0] }} = 0; {{ loop_vars[loop.index0] }} < {{ dim }}; ++{{ loop_vars[loop.index0] }}) {
{% endfor %}
{% if operator == "relu" %}
{{ output }}{% for var in loop_vars %}[{{ var }}]{% endfor %} = {{ input0 }}{% for var in loop_vars %}[{{ var }}]{% endfor %} > {{ zero_literal }} ? {{ input0 }}{% for var in loop_vars %}[{{ var }}]{% endfor %} : {{ zero_literal }};
{% elif operator == "neg" %}
{{ output }}{% for var in loop_vars %}[{{ var }}]{% endfor %} = -{{ input0 }}{% for var in loop_vars %}[{{ var }}]{% endfor %};
{% elif operator == "identity" %}
{{ output }}{% for var in loop_vars %}[{{ var }}]{% endfor %} = {{ input0 }}{% for var in loop_vars %}[{{ var }}]{% endfor %};
{% elif operator == "zero" %}
{{ output }}{% for var in loop_vars %}[{{ var }}]{% endfor %} = {{ zero_literal }};
{% elif operator == "isneginf" %}
{{ output }}{% for var in loop_vars %}[{{ var }}]{% endfor %} = isinf({{ input0 }}{% for var in loop_vars %}[{{ var }}]{% endfor %}) && signbit({{ input0 }}{% for var in loop_vars %}[{{ var }}]{% endfor %});
{% elif operator == "isposinf" %}
{{ output }}{% for var in loop_vars %}[{{ var }}]{% endfor %} = isinf({{ input0 }}{% for var in loop_vars %}[{{ var }}]{% endfor %}) && !signbit({{ input0 }}{% for var in loop_vars %}[{{ var }}]{% endfor %});
{% else %}
{{ output }}{% for var in loop_vars %}[{{ var }}]{% endfor %} = {{ operator }}({{ input0 }}{% for var in loop_vars %}[{{ var }}]{% endfor %});
{% endif %}
{% for _ in shape %}
}
{% endfor %}
}
