static inline void {{ op_name }}({{ dim_args }}{{ params | join(', ') }}) {
{% for dim in output_shape %}
for (idx_t {{ loop_vars[loop.index0] }} = 0; {{ loop_vars[loop.index0] }} < {{ dim }}; ++{{ loop_vars[loop.index0] }}) {
{% endfor %}
{{ output_expr }} = {{ condition_expr }} ? {{ x_expr }} : {{ y_expr }};
{% for _ in output_shape %}
}
{% endfor %}
}
